[Unit]
Description=QR bot service
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=10
User={username}
WorkingDirectory=/home/bots/fastqr_bot
ExecStart=/usr/bin/python3.7 /home/bots/fastqr_bot/main.py

[Install]
WantedBy=multi-user.target